

.icon-item {
    width: fit-content;
}

.text-part {
    width: fit-content;
}


mat-icon {
    position: relative;
    top: 0px;
    margin-right: 10px;
}

.division {
    display: flex;
    margin: 10px;
}