

<div id="InnerNav">
  <div class="icon-part mt-3 ml-3">
      <div class="icon-item"><mat-icon> home </mat-icon></div>
      <div class="icon-item"><mat-icon> face </mat-icon></div>
      <div class="icon-item"><mat-icon> settings </mat-icon></div>
      <div class="icon-item"><mat-icon> face </mat-icon></div>
      <div class="icon-item"><mat-icon> logout </mat-icon></div>
  </div>
  <div class="button-part mr-3 mt-3">
    <div class="button-item"><a routerLink="/dashboard">Dashboard</a></div>
    <div class="button-item"><a routerLink="/profile">Profile</a></div>
    <div class="button-item"><a routerLink="/setting">Setting</a></div>
    <div class="button-item"><a routerLink="/friends">Friends</a></div>
    <div class="button-item"><a routerLink="/layout">logout</a></div>

  </div>
</div>
